body {
  padding-top: 56px;
}
.parsley-errors-list{
	list-style-type: none;
    padding-left: 0px;
    font-size: 13px;
    color: #f30000;
}

.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    color: #333;
}

.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}

.login-form-1 .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}

.achievements-heading{
	background-color: rgba(0,0,0,.05);
	font-weight: bold
}
.achievement-title{
	font-size: 18px
}
.achievement-date{
	font-size: 13px;
    color: #666;
    text-align:right;
}
.lesson-navbar{
	background: #eaeaea;
}
.lesson-content{
    background: #dbdbdb;
	padding: 20px;
	margin-bottom: 40px;
}
.lesson-count{
	font-size: 30px;
	font-weight: bold
}
.lesson-watch-status{
	font-size: 32px;
	margin-right: 40px;
	cursor: pointer;
}

.lesson-watched{
	color:green;
	cursor: auto;
}